@import bootstrap

/* Overriding Bootstrap */

.navbar-default
  background-color: rgba(white, 0.97)
  border-color: #ccc  

/* universal */

.right
  float: right
  

html
  overflow-y: scroll

body
  margin-top: 50px

.background
  padding-top: 15px

section
  overflow: auto

textarea
  resize: vertical

.center
  text-align: center
  h1
    margin-bottom: 10px

.container
  position: relative

/* typography */

h1, h2, h3, h4, h5, h6
  line-height: 1

p
  font-size: 1.1em
  line-height: 1.7em

/* forms */

input, textarea, select, .uneditable-input
  border: 1px solid #bbb
  padding: 10px
  margin-bottom: 15px

.uploader
  border: none
  box-shadow: none

/* miscellaneous */

.debug_dump
  clear: both
  float: left
  width: 100%
  margin-top: 45px

/* Header */

.user-indicator
  padding: 15px
  font-style: italic
  color: #999

/* Home page */

#Restaurants-background
  background-color: #f9f9f9

.restaurant-profile
  min-height: 285px
  overflow: auto
  width: 100%
  border: 1px solid #ccc
  border-radius: 1px
  background-color: white
  padding: 15px
  margin: 20px 0
  h3, p
    margin-left: 15px
  img
    margin: 0 auto

.photo-helper
  display: inline-block
  height: 100%
  vertical-align: middle

.summary
  float: right

.restaurant-thumb
  position: relative
  max-height: 250px
  max-width: 300px
  vertical-align: middle

.edit-restaurant-link
  position: absolute
  bottom: 0
  right: 0
  margin: 5px 10px

/* Restaurant page */

.restaurant-description
  padding: 10px 10px 10px 0

.restaurant-photo
  margin: 0 auto 20px
  max-width: 500px
  max-height: 600px
  width: 100%

.map
  margin: 0 auto 20px
  max-width: 400px
  width: 100%

.restaurant-edit
  position: relative
  float: right
  .button_to
    display: inline
    margin-right: 15px
    div
      display: inherit

@media (max-width: 768px)
  .summary
    float: none
    text-align: center
  .restaurant-thumb
    display: block
    vertical-align: baseline
    margin: 0 auto
